/* You can add global styles to this file, and also import other style files */
input:not([type="radio"]):not([type="checkbox"]),
select {
  width: 100%;
}

.group:not(.readOnly) {
  padding: 0.5rem;
  border-radius: calc(0.25rem);
  border: 0.0625rem solid rgb(207, 207, 207);
  margin-block: calc(0.5rem);
}

.group.readOnly .body {
  padding: 0.5rem;
  border-left: 0.0625rem solid rgb(207, 207, 207);
  margin-block: calc(0.5rem);
}

dx-case {
  display: block;
  max-width: 80ch;
  padding: 20px;
}